
## XGBoost

ref: https://towardsdatascience.com/xgboost-python-example-42777d01001e

In [20]:

## !pip install xgboost
## !pip install pandas
## !pip install scikit-learn

In [21]:

import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [22]:

boston = load_boston()
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.Series(boston.target)

/Users/user/opt/anaconda3/envs/py_xgboost/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [23]:

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [24]:

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [25]:

regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3
)

In [26]:

regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=3, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [27]:

pd.DataFrame(regressor.feature_importances_.reshape(1, -1), columns=boston.feature_names)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.033385,0.002871,0.011101,0.090237,0.031932,0.137849,0.007923,0.047163,0.01733,0.018625,0.048984,0.00848,0.54412

In [28]:

y_pred = regressor.predict(X_test)

In [29]:

y_pred

array([29.646036, 24.100632, 33.981117, 30.652802,  5.314667, 19.487778,
       18.395382, 31.690351, 24.360937, 12.718536, 47.450783, 20.527905,
       24.112486, 32.822563, 21.769543, 32.255493, 11.489093, 24.302246,
       22.030527, 24.041037,  6.916698, 30.162756, 23.72475 , 36.130714,
       13.660494, 24.115135, 17.752005, 29.241787, 20.725363, 12.826545,
       19.97101 , 20.935701, 18.656418, 31.790058, 16.756845, 20.008171,
       16.774633, 19.29813 ,  9.880905, 25.19569 , 22.35137 , 10.299952,
       10.299952, 11.495758, 32.60771 , 31.64556 , 11.793964, 18.450794,
       18.913612, 32.651386, 33.190895, 22.40166 , 12.159657, 18.892757,
       25.03215 , 11.424828, 34.085957, 23.227669, 12.461948, 23.283487,
       20.251839, 13.181968, 14.855103, 18.82777 , 16.097977, 23.43598 ,
       21.5977  , 20.600433, 25.962606, 17.85215 , 15.535193, 17.116789,
       48.39175 , 16.858067, 23.748781, 14.301215, 20.849094, 20.73711 ,
       11.486557, 21.741245, 14.963524, 10.800871, 20.844671, 24.690252,
       17.7497  , 15.619315, 26.052046, 30.725838, 21.183914, 16.632732,
       16.086363, 17.323425, 30.120573, 21.240252, 23.831936, 41.300175,
       25.366238, 21.292898, 34.24272 , 20.605988, 21.55427 , 31.457676,
       20.103416, 11.341798, 21.835306, 21.280945, 23.362425, 20.821007,
       20.818802, 26.889278,  8.209023, 22.446194, 22.789366,  9.161637,
       21.056149, 17.082186, 46.230175, 47.79106 , 14.56508 , 16.46824 ,
       13.102787, 22.482552, 26.767986, 32.259712, 19.245794,  9.7975  ,
       30.21656 ], dtype=float32)

In [30]:

mean_squared_error(y_test, y_pred)

9.407263912299406

In [31]:

r2_score( y_test, y_pred )

0.8862050295660568